<div class="cards-list">
  <a class="list-item" *ngFor="let i of [1, 2, 3, 4, 5, 6]">
    <mat-card class="mat-card mat-focus-indicator character-card">
      <div class="img-wrapper">
        <img src="https://rickandmortyapi.com/api/character/avatar/360.jpeg" alt="Photo of a Morty">
      </div>
      <div class="info-wrapper">
        <mat-card-content>
          <mat-card-title>Character {{i}}</mat-card-title>
        </mat-card-content>
      </div>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>
  </a>
</div>
