<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="cards-list" *ngIf="!loading">
  <a class="list-item" *ngFor="let character of characters">
    <app-cool-character-card [character]="character"></app-cool-character-card>
  </a>
</div>

<div class="footer">
  <div class="page-buttons" *ngIf="!loading">
    <button mat-icon-button [disabled]="page === 1" color="primary" aria-label="Next page"
      matTooltip="Go to the previous page" (click)="previousPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <div class="pages-info">Page {{page}} of {{totalPages}}</div>
    <button mat-icon-button [disabled]="page === totalPages" color="primary" aria-label="Next page"
      matTooltip="Go to the next page" (click)="nextPage()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
