<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>

<div class="cards-list" *ngIf="!loading">
  <a class="list-item" *ngFor="let character of characters">
    <app-cool-character-card [character]="character"></app-cool-character-card>
  </a>
</div>

<div class="page-buttons" *ngIf="!loading">
  <button [disabled]="page === 1" class="prev-button" mat-fab color="primary" aria-label="Next page"
    matTooltip="Go to the previous page" (click)="previousPage()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button [disabled]="page === totalPages" mat-fab color="primary" aria-label="Next page"
    matTooltip="Go to the next page" (click)="nextPage()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
