.cards-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
  margin: 0 auto -80px; /* footer height + space */

  padding: 0 0 80px; /* footer height + space */

  .list-item {
    text-decoration: none;
    display: flex;
    margin: 15px;
  }
}

.page-buttons {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.pages-info {
  display: flex;
  align-items: center;
}

.footer {
  background-color: #303030;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
