.cards-list {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 20px;

  .list-item {
    text-decoration: none;
    display: flex;
    margin: 15px;
  }
}

.page-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.prev-button {
  margin-right: 2rem;
}
