<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="filter">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Episodes</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Episodes" matInput [formControl]="episodeFilterControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText"
        (optionSelected)="handleEpisodeFilterChange($event)">
        <mat-option *ngFor="let option of filteredEpisodes" [value]="option">
          {{option.episode}} - {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="episode-info" *ngIf="episodeFilterControl?.value?.id">
  <h1>Episode name: {{episodeFilterControl.value.name}}</h1>
  <h2>Air date: {{episodeFilterControl.value.air_date}}</h2>
</div>

<div class="cards-list">
  <a class="list-item" *ngFor="let character of characters">
    <app-cool-character-card [character]="character"></app-cool-character-card>
  </a>
</div>
