.content {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  table {
    width: 70rem;
  }

  .mat-column-name {
    padding-left: 16px;
    font-size: 16px;
  }

  .mat-column-type {
    padding-left: 16px;
    font-size: 16px;
  }

  .mat-column-dimension {
    padding-left: 16px;
    font-size: 16px;
  }
}

.page-buttons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.prev-button {
  margin-right: 2rem;
}

.action-icon {
  transform: scale(1.3);
}
