<div class="content">
  <table mat-table [dataSource]="locations" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="dimension">
      <th mat-header-cell *matHeaderCellDef> Dimension </th>
      <td mat-cell *matCellDef="let element"> {{element.dimension}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>

<div class="page-buttons">
  <button [disabled]="page === 1" class="prev-button" mat-fab color="primary" aria-label="Next page"
    (click)="previousPage()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button [disabled]="page === totalPages" mat-fab color="primary" aria-label="Next page" (click)="nextPage()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
