<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
<div class="filter">
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Locations</mat-label>
      <input type="text" placeholder="Pick one" aria-label="Locations" matInput [formControl]="locationFilterControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText"
        (optionSelected)="handleLocationFilterChange($event)">
        <mat-option *ngFor="let option of filteredLocations" [value]="option">
          {{option.name}} | {{option.dimension}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>

<div class="location-info" *ngIf="locationFilterControl?.value?.id">
  <h1>Location name: {{locationFilterControl.value.name}}</h1>
  <h2>Dimension: {{locationFilterControl.value.dimension}}</h2>
  <h2>Total residents: {{locationFilterControl.value.residents.length}}</h2>
</div>

<div class="cards-list">
  <a class="list-item" *ngFor="let character of characters">
    <app-cool-character-card [character]="character"></app-cool-character-card>
  </a>
</div>
