<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <button class="toolbar-title" mat-button (click)="openSnackBar()">
      Wubba Lubba Dub-Dub!!
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-center">
    <button mat-button [routerLink]="'/characters'">Characters</button>
    <button mat-button [routerLink]="'/locations'">Locations</button>
    <button mat-button [routerLink]="'/episodes'">Episodes</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
