<mat-toolbar class="mat-elevation-z6">
  <mat-toolbar-row>
    <button class="toolbar-title" mat-button (click)="openSnackBar()">
      Wubba Lubba Dub-Dub!!
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row class="toolbar-center">
    <button mat-button [routerLink]="'/characters'" routerLinkActive="active-route">Characters</button>
    <button mat-button [routerLink]="'/locations'" routerLinkActive="active-route">Locations</button>
    <button mat-button [routerLink]="'/episodes'" routerLinkActive="active-route">Episodes</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
